@import './variables';
@import './mixins';
@import './reset.less';
//@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic,900');
* {
    box-sizing: border-box;
}

html{
  font-size: 62.5%
}


html,
body {
    margin: 0;
    padding: 0;
    
}

body {

}

.banner {

    //color: @refu
}

h1 {
 font-size: 4rem;
 line-height: 1.2;
}

.words {
  font-size: 1.25rem;
  margin: 0 0 2rem 0;


}

.top-contents {
    text-align: center;
    margin-bottom: 13px;
    .flex(center, center, column);
}

 img {
     width: 50%;
     display: flex;
     justify-content: flex-end;
    
 }

 .primary-button{

 }